.section {
  padding: 2rem 1.5rem;
}

.section-quote {
  position: relative;
  background-color: #fafafa;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 80%;
    height: 4px;
    background-color: #eaeaea;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 2px);
  }
}