//  Header logo
$header-logo-font-size: 1.75rem;
$header-logo-font-weight: 500;

//  Header Links
$header-links-color: $secondary;

//  Mobile menu
$mobile-menu-bg-color: $primary;
$mobile-menu-links-color: $white;

//  --------------------------------------------------------------

.site-header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  height: 56px;
  padding: 0 10px;
  box-shadow: 0 1px 2px 0 rgba(36,50,66,.15);
}

.site-header-logo {
  text-decoration: none;
  font-size: $header-logo-font-size;
  font-weight: $header-logo-font-weight;
}

.site-header-nav-wrapper {
  display: flex;
  margin-left: auto;
}

.site-header-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 8px 10px;
  background: $mobile-menu-bg-color;

  a {
    display: block;
    text-decoration: none;
    color: $mobile-menu-links-color;
  }

  &.is-open {
    display: block;
  }

  @media ( min-width: 768px ) {
    position: relative;
    display: block !important;
    background-color: transparent;
    padding: 0;

    a {
      display: inline-block;
      color: $header-links-color;
    }
  }
}

.site-header-mobile {
  display: flex;


  @media ( min-width: 768px ) {
    display: none;
  }
}