.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.8);
}

.modal-card {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  background-color: #fff;
  width: 90%;
  transform: translate(-50%, -50%);
  max-width: 768px;
}

.modal-card-header {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid #eaeaea;

  .title {
    font-size: 1.5rem;
  }

  .close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
  }
}

.modal-card-content {
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  overflow: auto;

  .modal-content-thumb {
    @include square_image;
    width: 100%;
  }

  .modal-content-details {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .modal-content-text {
    padding: 15px;
  }

  .modal-content-actions {
    display: flex;
    margin-top: auto;

    .button {
      flex: 1;
    }
  }

  @media (min-width: 768px) {
    overflow: hidden;

    .modal-content-thumb {
      width: 50%;
    }

    .modal-content-text {
      overflow: auto;
      max-height: 90%;
    }
  }
}