$nav-icon-color: $secondary;

.nav-icon {
  display: inline-block;
  width: 30px;
  height: 24px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
}
.nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: $nav-icon-color;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.nav-icon span:nth-child(even) {
  left: 50%;
  //border-radius: 0 4px 4px 0;
}
.nav-icon span:nth-child(odd) {
  left:0;
  //border-radius: 4px 0 0 4px;
}
.nav-icon span:nth-child(1), .nav-icon span:nth-child(2) {
  top: 0;
}
.nav-icon span:nth-child(3), .nav-icon span:nth-child(4) {
  top: 10px;
}
.nav-icon span:nth-child(5), .nav-icon span:nth-child(6) {
  top: 20px;
}
.nav-icon.is-open span:nth-child(1),.nav-icon.is-open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-icon.is-open span:nth-child(2),.nav-icon.is-open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-icon.is-open span:nth-child(1) {
  left: 0;
  top: 5px;
}
.nav-icon.is-open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 5px;
}
.nav-icon.is-open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.nav-icon.is-open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.nav-icon.is-open span:nth-child(5) {
  left: 0;
  top: 15px;
}
.nav-icon.is-open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 15px;
}