// Fonts
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;

// Colors
//  Initial
$white: #fff;
$purple: #635ac7;
$grey: #333;

//  Derived
$primary: $purple;
$secondary: $grey;
