@mixin soft_transition() {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin square_image() {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    height: 100%;
    max-width: unset;
    width: auto;
    min-width: 100%;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}